<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mybatis.mapper.OrderCustomsMapper">
    <sql id="orderCustomsColumns">
        order_customs_id AS orderCustomsId,
        order_id AS orderId,
        customs_type AS customsType,
        invoice_packing_url AS invoicePackingUrl,
        packing_list_url AS packingListUrl,
        customs_declaration_url AS customsDeclarationUrl,
        create_time AS createTime,
        update_time AS updateTime
    </sql>

    <insert id="insertOrderCustoms" parameterType="OrderCustoms" useGeneratedKeys="true" keyProperty="order_customs_id">
        INSERT INTO order_customs (order_id, customs_type, invoice_packing_url, packing_list_url, customs_declaration_url)
        VALUES (#{orderId}, #{customsType}, #{invoicePackingUrl}, #{packingListUrl}, #{customsDeclarationUrl})
    </insert>

    <select id="findOrderCustomsByOrderId" parameterType="String" resultType="OrderCustoms">
        SELECT <include refid="orderCustomsColumns"></include>
        FROM order_customs WHERE order_id = #{orderId}
    </select>
</mapper>