<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <h3>欢迎物流商入驻</h3>
            </el-header>
            <el-main >

                <el-steps :active="active" finish-status="success" simple>
                    <el-step title="会员注册"></el-step>
                    <el-step title="提交资料"></el-step>
                    <el-step title="签订协议"></el-step>
                    <el-step title="入驻成功"></el-step>
                </el-steps>

                <el-row style="margin-top: 20px">
                    <el-col :span="16" :offset="4">
                        <el-form ref="form" :model="form" label-width="200px">
                            <template v-if="active==0">
                                <el-form-item label="物流企业名">
                                    <el-input v-model="form.eptName" placeholder="请输入名称"></el-input>
                                </el-form-item>
                                <el-form-item label="联系人">
                                    <el-input v-model="form.contact" placeholder="请输入联系人"></el-input>
                                </el-form-item>
                                <el-form-item label="联系电话">
                                    <el-input v-model="form.mobile"></el-input>
                                </el-form-item>
                                <el-form-item label="QQ账号">
                                    <el-input v-model="form.qq"></el-input>
                                </el-form-item>
                                <el-form-item label="公司类型">
                                    <el-select v-model="form.eptType">
                                        <el-option label="国际快递" value="international"></el-option>
                                    </el-select>
                                </el-form-item>
                            </template>
                            <template v-if="active==1">
                                <el-form-item label="营业执照">
                                    <el-input v-model="form.license"></el-input>
                                </el-form-item>
                                <el-form-item label="组织结构代码证">
                                    <el-input v-model="form.permissionCode"></el-input>
                                </el-form-item>
                                <el-form-item label="税务登记证">
                                    <el-input v-model="form.taxLicense"></el-input>
                                </el-form-item>
                                <el-form-item label="道路运输许可证">
                                    <el-input v-model="form.transportPermission"></el-input>
                                </el-form-item>
                            </template>
                            <template v-if="active==2">
                                <h3>物流商入驻服务协议</h3>
                            </template>
                            <template v-if="active==3">
                                   恭喜你入驻完成
                            </template>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" :offset="12" v-if="active <=3">
                        <el-button style="margin-top: 12px;" @click="prev">上一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next"  type="primary" v-if="active <3">下一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next"  type="primary" v-if="active >=3">完成</el-button>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script>
    var data= {
        active:0,
        form: {
            name: '',
            region: '',
            date1: '',
            date2: '',
            delivery: false,
            type: [],
            resource: '',
            desc: '',
            regType:1
        }
    };

    new Vue({
        el: '#app',
        data: data,
        methods: {
            next() {
                if (this.active++ > 3) this.active = 3;
            },
            prev(){
                if(this.active-- < 0) this.active = 0;
            }
        }
    })
</script>
</html>