<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui@2.4.3/lib/theme-chalk/index.css">
    <style>
        .pop_pic {
            width: auto;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <h3>欢迎物流商入驻</h3>
            </el-header>
            <el-main >

                <el-steps :active="active" finish-status="success" simple>
                    <el-step title="会员注册"></el-step>
                    <el-step title="提交资料"></el-step>
                    <el-step title="签订协议"></el-step>
                    <el-step title="入驻成功"></el-step>
                </el-steps>

                <el-row style="margin-top: 20px">
                    <el-col :span="16" :offset="4">
                        <el-form ref="form" :model="form" status-icon :rules="rule" label-width="200px">
                            <template v-if="active==0">
                                <el-form-item label="用户名" prop="account">
                                    <el-input v-model="form.account" placeholder="用于登录九尾狐物流商平台"></el-input>
                                </el-form-item>
                                <el-form-item label="密码" prop="pass">
                                    <el-input type="password" v-model="form.pass" auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="确认密码" prop="checkPass">
                                    <el-input type="password" v-model="form.checkPass" auto-complete="off"></el-input>
                                </el-form-item>
                                <el-form-item label="物流企业名" prop="eptname">
                                    <el-input v-model="form.eptname" placeholder="请输入名称"></el-input>
                                </el-form-item>
                                <el-form-item label="联系人" prop="contact">
                                    <el-input v-model="form.contact" placeholder="请输入联系人"></el-input>
                                </el-form-item>
                                <el-form-item label="联系电话" prop="mobile">
                                    <el-input v-model.number="form.mobile"></el-input>
                                </el-form-item>
                                <el-form-item label="QQ账号" prop="qq">
                                    <el-input v-model.number="form.qq"></el-input>
                                </el-form-item>
                            </template>
                            <template v-if="active==1">
                                <el-form-item label="营业执照(三证合一)" prop="license">
                                    <el-upload
                                            class="upload-demo"
                                            ref="upload"
                                            action="/business/regist/upload"
                                            :on-preview="handlePreview"
                                            :on-remove="handleRemove"
                                            :on-success="handleSuccess"
                                            :on-exceed="handleExceed"
                                            :file-list="form.licenseList"
                                            :auto-upload="true"
                                            :limit="1"
                                            list-type="picture"
                                            :data="{'id':form.account,'field':'license'}">
                                        <el-button slot="trigger" size="small" type="primary">上传文件</el-button>
                                    </el-upload>
                                </el-form-item>

                                <el-form-item label="道路运输许可证">
                                    <el-upload
                                            class="upload-demo"
                                            ref="upload"
                                            action="/business/regist/upload"
                                            :on-preview="handlePreview"
                                            :on-remove="handleRemove2"
                                            :on-success="handleSuccess"
                                            :file-list="form.transportPermissionList"
                                            :on-exceed="handleExceed"
                                            :auto-upload="true"
                                            :limit="1"
                                            list-type="picture"
                                            :data="{'id':form.account,'field':'transportPermission'}">
                                        <el-button slot="trigger" size="small" type="primary">上传文件</el-button>
                                    </el-upload>
                                </el-form-item>

                            </template>
                            <template v-if="active==2">
                                <h3>物流商入驻服务协议</h3>
                                <iframe src="signedAgreement.htm" style="width: 100%; height: 50rem; border: none; overflow-x: hidden; "></iframe>
                                <el-checkbox v-model="form.agreed">我已阅读并同意物流商入驻服务协议</el-checkbox>
                            </template>
                            <template v-if="active==3">
                                请点击完成
                            </template>
                            <template v-if="active==4">
                                恭喜你完成入驻,请等待审核
                            </template>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="4" :offset="12" v-if="active <=3">
                        <el-button style="margin-top: 12px;" @click="prev">上一步</el-button>
                        <el-button style="margin-top: 12px;" @click="next"  type="primary" v-if="active <3" :disabled="active ==2 && !form.agreed">下一步</el-button>
                        <el-button style="margin-top: 12px;" @click="onSubmit"  type="primary" v-if="active >=3" >完成</el-button>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
</body2
<!-- import Vue before Element -->
<script src="https://unpkg.zhimg.com/vue@2.5.16/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.zhimg.com/element-ui@2.4.3/lib/index.js"></script>

<script src="https://unpkg.zhimg.com/axios@0.18.0/dist/axios.js"></script>
<script>
    var data= {
        active:0,
        form: {
            account: '',
            eptname: '',
            contact: '',
            mobile: '',
            qq: ''
        },
        rule: {
            account: [
                { required: true, message: '请输入用户名', trigger: 'blur' }
            ],
            pass: [
                { required: true, message: '请输入密码', trigger: 'blur' },
                {
                    validator: function (rule, value, callback) {
                        if (data.form.checkPass != null && value != data.form.checkPass) {
                            callback(new Error('两次输入密码不一致！'))
                        } else {
                            callback();
                        }
                    }, trigger: 'blur'
                }
            ],
            checkPass: [
                { required: true, message: '请再次输入密码确认', trigger: 'blur' },
                {
                    validator: function (rule, value, callback) {
                        if (value == null || value != data.form.pass) {
                            callback(new Error('两次输入密码不一致！'))
                        } else {
                            callback();
                        }
                    }, trigger: 'blur'
                }
            ],
            mobile: [
                { required: true, message: '请输入手机号', trigger: 'blur' },
                { type: 'number', message: '手机号必须为数字', trigger: ['blur'] }
            ],
            eptname: [
                { required: true, message: '请输入物流企业名', trigger: 'blur' }
            ],
            contact: [
                { required: true, message: '请输入联系人', trigger: 'blur' }
            ],
            qq: [
                { required: true, message: '请输入QQ号', trigger: 'blur' },
                { type: 'number', message: 'QQ号必须为数字', trigger: ['blur'] }
            ],
            license: [
                { required: true, message: '请上传营业执照', trigger: 'blur' }
            ]
        },
        agreed : false
    };

    new Vue({
        el: '#app',
        data: data,
        methods: {
            next() {
                if(this.active <= 1) {
                    this.$refs['form'].validate((valid) => {
                        if(valid) {
                            if (this.active++ > 3) this.active = 3;
                        }
                    });
                }else {
                    if (this.active++ > 3) this.active = 3;
                }
            },
            prev(){
                if(this.active-- < 0) this.active = 0;
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
                data.form.license = '';
                data.form.licenseList = [];

            },
            handleRemove2(file, fileList) {
                console.log(file, fileList);
                data.form.transportPermission = '';
                data.form.transportPermissionList = [];
            },
            handlePreview(file) {
                console.log(file);
                this.$msgbox({
                    message: '<img src=' + file.url + '>',
                    dangerouslyUseHTMLString: true,
                    showConfirmButton: false,
                    customClass: 'pop_pic'
                });
            },
            onSubmit() {
                //debugger;
                console.log('submit!');
                var v = this;
                axios.post('/business/regist/create', {
                    account:data.form.account,
                    password:data.form.pass,
                    eptname:data.form.eptname,
                    contact:data.form.contact,
                    mobile:data.form.mobile,
                    qq:data.form.qq,
                    license:data.form.license,
                    transportPermission:data.form.transportPermission
                })
                    .then(function (response) {
                        console.log(response);
                        v.$message({
                            message: '注册成功',
                            type: 'success'
                        });
                        // setTimeout(function(){
                        //     window.location.href="/business/login.html";
                        // },1000);
                        if (data.active++ > 3) data.active = 4;
                    })
                    .catch(function (error) {
                        console.log(error);
                        v.$message({
                            message: '注册失败 ' + error,
                            type: 'error'
                        });
                    });
            },
            handleSuccess(response, file, fileList){
                console.log(response);
                if(response.code == 1){
                    if(response.type == 'license'){
                        data.form.license = response.url;
                        data.form.licenseList = [{
                            "name" : file.name,
                            "url" : response.url
                        }];
                    }else if(response.type == 'transportPermission'){
                        data.form.transportPermission = response.url;
                        data.form.transportPermissionList = [{
                            "name" : file.name,
                            "url" : response.url
                        }];
                    }
                }

            },
            handleExceed(files, fileList) {
                this.$message.warning('只能上传1个文件');
            }

        }
    })
</script>
</html>